{% extends "base.html" %}
{% block content %}
  <h2>Messages</h2>
  <ul>
    {% for message, encrypted_body in messages %}
      <li>
        <strong>From:</strong> {{ message.sender.username }}<br>
        <strong>Date:</strong> {{ message.timestamp }}<br>
        <strong>Encrypted Message:</strong> {{ encrypted_body }}<br>
        <strong>AES Key:</strong> {{ message.aes_key }}<br>
        <strong>AES IV:</strong> {{ message.aes_iv }}<br>
        <a href="{{ url_for('main.decrypt_message_manual', message_id=message.id) }}">Decrypt</a>
      </li>
      <hr>
    {% endfor %}
  </ul>
{% endblock %}
