{% extends "base.html" %}
{% block content %}
  <h2>Send Message</h2>
  <form method="POST" action="{{ url_for('main.send_message') }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.recipient.label }}<br>
      {{ form.recipient(size=32) }}
    </p>
    <p>
      {{ form.body.label }}<br>
      {{ form.body(rows=4, cols=50) }}
    </p>
    <p>
      {{ form.aes_algorithm.label }}<br>
      {{ form.aes_algorithm() }}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
{% endblock %}